h2{
	position: absolute;
    left: 684px;
    top: 44px;
	color: #9b9bfa ;
}


h3{
	
	
	color:#7f8fe0;
	position: absolute;
    right: 617px;
    top: 339px;
}
img{
	position: absolute;
    left: 307px;
    top: 410px;
}

